.yellow {
    background-color: #fc0;
}

.red {
    background-color: #f24;
}

.green {
    background-color: green;
}

.blue {
    background-color: #08f;
}

.lamp {
    position: absolute;
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    display: inline-block;
    border-radius: 50%;
}

.on {
    -webkit-filter: blur(30px) brightness(2);
    filter: blur(30px) brightness(2);
    background-color: rgba(255,255,100,1);
}

.off {
    background-color: rgba(0,0,0,0.7);
    -webkit-filter: blur(40px) brightness(0.3);
    filter: blur(30px) brightness(0.4);
 }

.full-square {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 100% !important;
    position: relative;
    box-sizing: border-box;
/*
    background-color: green;
    border: 5px solid green;
*/
}

.quarter-square {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:inline-block;
    background-color: cyan;
    box-sizing: border-box;
/*
    border: 3px solid cyan;
*/
}

.black-square {
    width: 100%;
    /*padding: 0 !important;*/
    padding-bottom: 100% !important;
    background-color: #000;
    opacity: 0.9;
    box-sizing: border-box;
/*
    border: 3px solid red;
*/
}

.rel {
    position: relative;
}
.etching {
    width: 40px;
    height: 20px;
    bottom: 52%;
    left: 44%;
    color: #fff;
    text-align: center;
    font-size: 26px;
    opacity: 0.5;
    z-index: 100;
    position: absolute;
}
.etching.etch-on {
    color: black;
}
.etching.etch-off {
    color: white;
}

.top {
    top: 0;
    bottom: 50%;
}

.left {
    left: 0;
    right: 50%;
}

.right {
    left: 50%;
    right: 0;
}

.bottom {
    top: 50%;
    bottom: 0;
}


.bulb-square {
    width: 100%;
    padding-top: 100%;
    background-color: #000;
    box-sizing: border-box;
    border: 10px solid red;
}
.bulb {
    width: 100%;
    padding-bottom: 30%;
    background-repeat: no-repeat;
    background-size: 36%;
    background-color: black;
    border: 1px solid green;
    /*
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
   */
}
