body {
    font-size: 18px !important;
}

.yellow {
    background-color: #fc0;
}

.red {
    background-color: #f24;
}

.green {
    background-color: green;
}

.blue {
    background-color: #08f;
}

.lamp {
    position: absolute;
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    display: inline-block;
    border-radius: 50%;
}

.on {
    -webkit-filter: blur(30px) brightness(2);
    filter: blur(30px) brightness(2);
    background-color: rgba(255,255,100,1);
}

.off {
    background-color: rgba(0,0,0,0.7);
    -webkit-filter: blur(40px) brightness(0.3);
    filter: blur(30px) brightness(0.4);
 }

.full-square {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 100% !important;
    position: relative;
    box-sizing: border-box;
}

.quarter-square {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:inline-block;
    background-color: cyan;
    box-sizing: border-box;
/*
    border: 3px solid cyan;
*/
}

.black-square {
    width: 100%;
    /*padding: 0 !important;*/
    padding-bottom: 100% !important;
    background-color: #000;
    opacity: 0.9;
    box-sizing: border-box;
/*
    border: 3px solid red;
*/
}

.rel {
    position: relative;
}
.etching {
    width: 40px;
    height: 20px;
    bottom: 52%;
    left: 44%;
    color: #fff;
    text-align: center;
    font-size: 26px;
    opacity: 0.5;
    z-index: 100;
    position: absolute;
}
.etching.etch-on {
    color: black;
}
.etching.etch-off {
    color: white;
}

.top {
    top: 0;
    bottom: 50%;
}

.left {
    left: 0;
    right: 50%;
}

.right {
    left: 50%;
    right: 0;
}

.bottom {
    top: 50%;
    bottom: 0;
}

.bulb {
    width: 100%;
    padding-bottom: 30%;
    background-repeat: no-repeat;
    background-size: 36%;
    background-color: black;
}

.title {
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 30px;
}

.static {
    position: absolute;
    top: 12%;
    width: 50%;
    right: 5%;
    color: white;
    padding: 20px;
    /*border: 5px dashed grey;*/
    border-radius: 10px;
}

input.num {
    font-size: 40px;
    width: 100%;
    background-color: #222222;
    color: #00cc00;
    border: none;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spinner button {
    background-color: #048;
    font-size: 18px;
    color: white;
    width: 40px;
    /*border-color: teal; */
    border-radius: 5px;
    cursor: pointer;
}

.spinner button.up {
        float: left;
    }

.spinner button.up {
        float: right;
    }

button.rules {
    float: right;
    margin: 10px 0px 0px 0px;
    display: inline;
    padding: 5px;
    background-color: #048;
    font-size: 18px;
    color: white;
    width: 200px;
    /*border-color: teal; */
    border-radius: 5px;
    cursor: pointer;
}

button#lev1.rules {
    margin-top: 40px 0px 0px 0px;
}

button.rules:hover {
    background-color: #08D;
}

button.rules.lit {
    background-color: #07C;
}

button.rules.unlit {
    background-color: #05A;
}


.game-root {
    max-width: 480px;
    min-width: 320px;
    position: relative;
    background-color: black;
    margin: auto auto;
}
