.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.lamp {
    position: absolute;
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    display: inline-block;
    border-radius: 50%;
}

.round {
}

.on {
    box-shadow: inset 0em 10em rgba(240,240,255,0.6);
    -webkit-filter: blur(5px);
    filter: blur(5px) brightness(1.3);;

}

.off {
    box-shadow: inset 0em 100em rgba(0,0,0,0.6);
}

.full-square {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 100% !important;
    position: relative;
    background-color: green;
    border: 5px solid green;
    box-sizing: border-box;
}

.quarter-square {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:inline-block;
    background-color: cyan;
    border: 3px solid cyan;
    box-sizing: border-box;
}

.black-square {
    width: 100%;
    /*margin: 0 !important;
    padding: 0 !important;*/
    padding-bottom: 100% !important;
    background-color: #000;
    opacity: 0.9;
    border: 3px solid red;
    box-sizing: border-box;
}



.top {
    top: 0;
    bottom: 50%;
}

.left {
    left: 0;
    right: 50%;
}

.right {
    left: 50%;
    right: 0;
}

.bottom {
    top: 50%;
    bottom: 0;
}
